<h1>Create a new list</h1>

<div class="container">
  <%= simple_form_for @list do |f| %>
    <%= f.input :name%>
    <%= f.input :photo, as: :file %>
    <%= f.submit "Create list", class: "btn btn-info" %>
  <% end %>
</div>
